<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>

		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>com.springapp.mvc.Servlet.servlets.CalcServlet</servlet-class>
		<!--<init-param>-->
		<!--<param-name>init1</param-name>-->
		<!--<param-value>valacardin</param-value>-->
		<!--</init-param>-->
	</servlet>
	<servlet>
		<servlet-name>CheckAttributeServlet</servlet-name>
		<servlet-class>servlets.CheckOperationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckAttributeServlet</servlet-name>
		<url-pattern>/CheckAttributeServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/40X.html</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/error/400.html</location>
	</error-page>

</web-app>
